
/* @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Kaushan+Script&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Kaushan+Script&display=swap');


html, body {
    margin: 0;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    /* font-family: kaushan-script; */
    font-family: 'Gloock', serif
}

@media screen and (min-width: 320px) and (max-width: 480px){
    body{
        max-width: 480px;
        min-height: 50vh;
    }

}

.navbar{
    float: left;
    width: 150%;
    position: fixed;  
    top: 0;
    /* left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #191919;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .navbar{
        width: 100%;
        float: none;

    }

}

/* nav .logo{
    align-items: center

    } */

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 24px;
}
/* .link a:hover, .link.active a{
    opacity: 1;
} */

@media screen and (min-width: 320px) and (max-width: 480px){
    .link a{
        line-height: 60px;
        font-size: 12px;
        padding: 3px 2px;

    }

}

.about-section{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    /* opacity: 0; */
    /* transition: 1s; */
}

.hero-heading{
    color: #fff;
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 300px;
    position: absolute;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .hero-heading{
        font-size: 30px;
        font-weight: 100;
        left: 20px;
    }

}

.about-p{
    color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    position: relative;
    right: 0px;
    top: 170px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .about-p{
        font-size: 12px;
        right: 105px;
        top: 290px;
        line-height: 15px;
        position: absolute;
    
    }

}

.about-img{
    position: absolute;
    top: 50;
    right: 0;
    height: 90vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .about-img{
        width: 60%;
        height: 60vh
    }

}

.about-section.active,
.project-section.active,
.gallery-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
}

.project-heading{
    font-size: 100px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .project-heading{
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 130px;
        margin-top: -150px;
        
    }

}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .project-container{
        grid-gap: 50px;
        
    }

}

.project-card{
    height: 400px;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .project-card{
        height: 150px;
        width: 200px;
        position: absolute;
        
    }

}
.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-img2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 600px;
    object-fit: cover;
    transition: .5s;

}

.project-img3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 500px;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-img4{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 500px;
    left: 600px;
    object-fit: cover;
    transition: .5s;
}

.project-img5{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1000px;
    left: 0px;
    object-fit: cover;
    transition: .5s;
}


@media screen and (min-width: 320px) and (max-width: 480px){
    .project-img{
        left: -34px;
        top: -100px;
        
    }

}


.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .project-content{
        margin-bottom: 300px;
        margin-right: 70px;
        margin-left: 0px;
        padding: 1px;
        margin-top: -70px;
        
        
    }

}

.project-title1{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}


.project-title2{
    position: absolute;
    left: 145%;
    top: 40px;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
  }

.project-title3{
    position: absolute;
    left: 75px;
    top: 530px;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
  }

.project-title4{
    position: absolute;
    left: 145%;
    top: 530px;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
  }

.project-title5{
    position: absolute;
    left: 120px;
    top: 1030px;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
  }

@media screen and (min-width: 320px) and (max-width: 480px){
    .project-title{
        font-size: 20px;
        
        
    }

}

.project-info1{
    margin: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}


.project-info2 {
    position: relative;
    top: -180px;
    left: 630px;
    width: 400px;
    height: 200px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
  }

.project-info3 {
    position: relative;
    top: 100px;
    left: 30px;
    width: 400px;
    height: 200px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
  }  

.project-info4 {
    position: relative;
    top: -100px;
    left: 630px;
    width: 400px;
    height: 200px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
  }  

.project-info5 {
    position: relative;
    top: 200px;
    left: 30px;
    width: 400px;
    height: 200px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
  }  
   
@media screen and (min-width: 320px) and (max-width: 480px){
    .project-info{
        font-size: 10px;
        margin: 10px;
        line-height: 10px;
        
    }

}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-img2{
    filter: blur(20px);
}

.project-card:hover .project-img3{
    filter: blur(20px);
}

.project-card:hover .project-img4{
    filter: blur(20px);
}

.project-card:hover .project-img5{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}


.gallery-section{
    width: 100%;
    min-height: 100vh;
    padding: 1000px 200px 200px;
    position: fixed;
    top: 0;
    transition: 1s;
}

.gallery-heading{
    font-size: 100px;
    font-weight: 300;
    top: 3000px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;

}

.gallery-photo1{
    margin-top: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1000px;
    left: 0px;
    object-fit: cover;
    transition: .5s;

}

.contact-section{
    width: 100%;
    min-height: 100vh;
    padding: 1300px 200px 200px;
    position: fixed;
    top: 0;
    transition: 1s;
}

.contact-heading{
    font-size: 100px;
    font-weight: 300;
    top: 3000px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;

}

.contact-line{
    position: relative;
    text-align: left;
    padding: 20px;
    font-size: 40px;
    color: white;
    line-height: 150px;
}
.contact-info{
    position: relative;
    text-align: left;
    padding: 20px;
    font-size: 30px;
    color: white;
    line-height: 150px;
}